<section class="block container">
  <header class="block__header">
    <h2 class="block__heading">Heading1</h2>
    <p>
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Vitae quibusdam
      magni placeat, eveniet dicta exercitationem delectus deserunt! Minima
      itaque, animi in illum quos sapiente nemo doloribus a sunt eaque error.
    </p>
  </header>
</section>
<section class="block block--dark block__skewed-left">
  <div class="container">
    <h2 class="block__heading">Heading1</h2>
    <p>
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Vitae quibusdam
      magni placeat, eveniet dicta exercitationem delectus deserunt! Minima
      itaque, animi in illum quos sapiente nemo doloribus a sunt eaque error.
    </p>
  </div>
</section>
