<div class="media">
  <div class="media__image">
    <svg class="icon icon--primary">
      <use xlink:href="images/sprite.svg#snap"></use>
    </svg>
  </div>
  <div class="media__body">
    <h3 class="media__title">Easy start & Managed objects</h3>
    <p>
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Ab laboriosam
      magnam veniam quod culpa sunt perferendis quo illum voluptatum, quas
      aspernatur vitae vel, fugit qui enim nostrum dolore ipsa dolorum?
    </p>
  </div>
</div>
